---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

export type Props = HTMLAttributes<"header">
const { class: className, ...props } = Astro.props
---

<header
  class={cn("sticky top-4 z-30 my-4 text-foreground sm:hidden", className)}
  {...props}
>
  <div
    class="flex w-full flex-row items-center justify-between gap-5 rounded-full bg-background/60 px-4 py-2 backdrop-blur-xl"
  >
  </div>
</header>
