---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Posts">
  <main
    class="mx-auto my-12 flex max-w-2xl flex-shrink flex-grow flex-col px-8"
  >
    <div class="my-auto flex flex-col items-center gap-4">
      <span class="icon-[fluent-emoji--building-construction] block text-8xl"
      ></span>
      <h2 class="block font-mono text-xl">鋭意製作中</h2>
    </div>
  </main>
</Layout>
