---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Works">
  <main>
    <p>
      SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
       SAMPLE<br />
    </p>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 1rem;
    max-width: 800px;
  }
</style>
