@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* shadcn-ui */
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    /* stone */
    --stone-1: 242 243 243;
    --stone-2: 226 228 228;
    --stone-3: 212 216 216;
    --stone-4: 196 202 202;
    --stone-5: 164 173 173;
    --stone-6: 132 144 144;
    --stone-7: 104 115 115;
    --stone-8: 78 86 86;
    --stone-9: 53 59 59;
    --stone-10: 29 32 32;
  }

  .dark {
    /* shadcn-ui */
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    /* stone */
    --stone-1: 17 19 19;
    --stone-2: 29 32 32;
    --stone-3: 39 43 43;
    --stone-4: 51 56 56;
    --stone-5: 63 70 70;
    --stone-6: 75 83 83;
    --stone-7: 87 96 96;
    --stone-8: 99 110 110;
    --stone-9: 148 158 158;
    --stone-10: 199 204 204;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
