@layer base {
  div[data-rehype-pretty-code-fragment] {
    --code-block-bg-color: hsl(0, 0%, 98%);
    --highlighted-line-bg-color: theme(colors.neutral.500 / 10%);
    --highlighted-chars-bg-color: theme(colors.neutral.500 / 20%);
  }

  .dark div[data-rehype-pretty-code-fragment] {
    --code-block-bg-color: hsl(0, 0%, 8%);
    --highlighted-line-bg-color: theme(colors.neutral.600 / 25%);
    --highlighted-chars-bg-color: theme(colors.neutral.600 / 40%);
  }

  .shiki {
    background-color: transparent !important;
  }

  .dark {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

/* OLD */
@layer components {
  pre {
    & code {
      @apply grid w-full text-[0.9rem];
    }

    & span[data-line] {
      @apply border-l-2 border-l-transparent px-4;
    }

    /* 行番号表示 */
    & code[data-line-numbers] {
      & {
        counter-reset: line;
      }

      & > span[data-line]::before {
        content: counter(line);
        counter-increment: line;
        @apply mr-3 inline-block w-4 text-right text-neutral-600;
      }
    }

    /* 行ハイライト */
    & span[data-highlighted-line] {
      background-color: var(--highlighted-line-bg-color);
      @apply border-l-blue-400 bg-neutral-500/10 dark:bg-neutral-600/20;
    }

    /* 単語ハイライト */
    & span[data-highlighted-chars] {
      @apply rounded;
      background-color: var(--highlighted-chars-bg-color);
      box-shadow: 0 0 0px 4px var(--highlighted-chars-bg-color);
    }
  }
}
