---
import { RootLayout } from "@/components/layouts"
---

<RootLayout title="Contact" image={new URL("https://example.com")}>
  <div class="container space-y-6">
    <h1 class="text-4xl font-bold">Contact</h1>
    <p>WIP</p>
  </div>
</RootLayout>
