---
import { RootLayout } from "@/components/layouts"

import { ContactForm } from "./_components"
---

<RootLayout title="Contact" image={new URL("https://example.com")}>
  <div class="container mx-auto grid max-w-xl gap-12">
    <h1 class="mx-auto font-times text-4.5xl font-black">Contact</h1>
    <ContactForm client:load />
  </div>
</RootLayout>
