---
import { RootLayout } from "@/components/layouts"
import { Toaster } from "@/components/ui"

import { ContactForm } from "./_components"
---

<RootLayout title="Contact">
  <div class="container mx-auto mb-12 mt-6 grid max-w-xl gap-12">
    <h1 class="font-times text-4.5xl mx-auto font-black">Contact</h1>
    <ContactForm client:load />
  </div>
  <Toaster client:only="solid-js" />
</RootLayout>
