---
import Layout from "../../layouts/Layout.astro";
import { ContactForm } from "@/components/Form";
---

<Layout title="Contact">
  <main class="container mx-auto my-12 flex max-w-xl grow flex-col gap-12">
    <div class="flex flex-col">
      <h2 class="mx-auto font-serif text-4xl font-black">Contact</h2>
    </div>
    <ContactForm client:load />
  </main>
</Layout>
