---
import { Image } from "astro:assets"

import IconBlobs from "@/assets/imgs/r4ai/icon-blobs.png"
import { IconBlobsClipPath } from "@/assets/imgs/r4ai/icon-blobs-clip-path"
import { RootLayout } from "@/components/layouts"
import IconBluesky from "~icons/simple-icons/bluesky"
import IconGithub from "~icons/simple-icons/github"
import IconZenn from "~icons/simple-icons/zenn"

import { Cube, LinkCard, RareCard } from "./_components"
---

<RootLayout title="Home">
  <div
    class="text-foreground mx-auto my-12 grid max-w-2xl grid-flow-row grid-cols-4 gap-12 gap-y-0 px-8 sm:grid-cols-8"
  >
    <RareCard
      class="col-span-3 col-start-1 mx-auto w-full max-w-xs sm:col-span-4"
      clipPath="url(#r4ai-icon-blobs-clip-path)"
      client:load
    >
      <IconBlobsClipPath clipPathId="r4ai-icon-blobs-clip-path" />
      <Image
        src={IconBlobs}
        class="drop-shadow-lg"
        alt="r4ai"
        loading="eager"
        fetchpriority="high"
      />
    </RareCard>
    <section class="col-span-4 my-auto sm:col-start-5 sm:col-end-9">
      <h1 class="font-times text-foreground text-5xl font-black sm:text-6xl">
        Hi,
        <br />
        I'm Rai
      </h1>
      <p
        class="mt-4 font-mono text-lg font-medium text-zinc-700 italic dark:text-zinc-400"
      >
        nemui desu.
      </p>
    </section>
    <h2
      class="col-span-4 mt-12 mb-6 font-mono text-2xl font-semibold sm:col-span-8"
    >
      иҮӘе·ұзҙ№д»Ӣ
    </h2>
    <div class="col-span-4 col-start-1 sm:col-span-4">
      <p class="col-span-4 font-mono text-base sm:col-span-4">
        гҒЁгҒӮгӮӢCSе°Ӯж”»гҒӘеӨ§еӯҰйҷўз”ҹгҖӮ<br />
        дҪҺгғ¬гӮӨгғӨгҒЁWebгғ•гғӯгғігғҲгӮЁгғігғүгҒҢеҘҪгҒҚгҖӮжңҖиҝ‘гҒҜгӮігғігғ‘гӮӨгғ©жңҖйҒ©еҢ–гӮ’з ”з©¶гҒ—гҒҰгҒ„гӮӢгҖӮйқҷзҡ„еһӢд»ҳгҒ‘жҙҫгҖӮ
      </p>
      <div
        class="mt-6 flex flex-col space-y-3 font-mono text-base sm:inline-block"
      >
        <LinkCard
          title="@r4ai"
          href="https://github.com/r4ai"
          icon={IconGithub}
          site="GitHub"
        />
        <LinkCard
          title="@r4ai.dev"
          href="https://bsky.app/profile/r4ai.dev"
          icon={IconBluesky}
          site="BlueSky"
        />
        <LinkCard
          title="@t4aru"
          href="https://zenn.dev/t4aru"
          icon={IconZenn}
          site="Zenn.dev"
        />
      </div>
    </div>
    <div class="col-span-4">
      <Cube client:only="solid-js" />
    </div>
    <h2
      class="col-span-4 mt-16 mb-6 font-mono text-2xl font-semibold sm:col-span-8"
    >
      дҪҝгҒҲгӮӢжҠҖиЎ“
    </h2>
    <div class="text-foreground col-span-4 font-mono text-base sm:col-span-5">
      <p class="leading-7 not-first:mt-6">иЁҖиӘһ:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>JavaScript / TypeScript</li>
        <li>Rust</li>
        <li>C / C++</li>
        <li>OCaml</li>
        <li>Python</li>
      </ul>
      <p class="leading-7 not-first:mt-6">Webгғ•гғ¬гғјгғ гғҜгғјгӮҜ:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>React / Next.js / Waku</li>
        <li>SolidJS / SolidStart</li>
        <li>Svelte / SvelteKit</li>
      </ul>
      <p class="leading-7 not-first:mt-6">гҒқгҒ®д»–:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>LLVM</li>
        <li>Git</li>
        <li>Docker</li>
      </ul>
    </div>
    <h2
      class="col-span-4 mt-12 mb-6 font-mono text-2xl font-semibold sm:col-span-8"
    >
      иЁҳдәӢгғ»гӮ№гғ©гӮӨгғү
    </h2>
    <div class="text-foreground col-span-4 font-mono text-base sm:col-span-8">
      <ul class="mb-6 ml-6 list-disc [&>li]:mt-2">
        <li>
          <a
            href="https://r4ai.dev/posts/ao-development/"
            class="hover:underline"
          >
            гҖҢиҮӘдҪңиЁҖиӘһ AoгҖҚ
          </a>
        </li>
        <li>
          <a
            href="https://r4ai.dev/posts/mercury-development/"
            class="hover:underline"
          >
            гҖҢMDX гғҷгғјгӮ№гҒ®гӮ№гғ©гӮӨгғүдҪңжҲҗгғ„гғјгғ«гӮ’дҪңгҒЈгҒҰгҒ„гӮӢи©ұгҖҚ
          </a>
        </li>
        <li>
          <a
            href="https://zenn.dev/ricora/articles/5a170c17933c3f"
            class="hover:underline"
          >
            гҖҢеӨ§еӯҰгҒ®гғ—гғӯгӮ°гғ©гғҹгғігӮ°гӮөгғјгӮҜгғ«гҒ®WebгӮөгӮӨгғҲгӮ’AstroГ—SolidJSгҒ§еҲ¶дҪңгҒ—гҒҹгҒ®гҒ§жҠҖиЎ“гӮ№гӮҝгғғгӮҜгӮ’зҙ№д»ӢгҖҚ
          </a>
        </li>
        <li>
          <a href="http://r4ai.dev/posts/no-more-cjs" class="hover:underline">
            гҖҢPure ESM Package in 2024гҖҚ
          </a>
        </li>
        <li>
          <a
            href="https://github.com/r4ai/svelte-beginner-tutorial"
            class="hover:underline"
          >
            гҖҢSvelteе…Ҙй–Җ пҪһ100иЎҢгҒ§дҪңгӮӢToDoгӮўгғ—гғӘпҪһгҖҚ
          </a>
        </li>
        <li>
          <a
            href="https://zenn.dev/t4aru/articles/4a77ec07432e57"
            class="hover:underline"
          >
            гҖҢRust гҒ§гҒ®й–ӢзҷәгӮ’дҫҝеҲ©гҒ«гҒҷгӮӢ VSCode жӢЎејөж©ҹиғҪгҒҹгҒЎгҖҚ
          </a>
        </li>
      </ul>
    </div>
  </div>
</RootLayout>
