---
import LinkCard from "@/components/LinkCard.astro"
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import Zenn from "../assets/zenn.svg"
import Bsky from "../assets/bsky.png"
import GitHub from "../assets/github.svg"
import IconBrobs from "../assets/icon_blobs.png"
import { CubeCanvas } from "@/components/Cube"
import RareIcon from "@/components/RareIcon.svelte"
---

<Layout title="About Me">
  <main
    class="mx-auto my-12 grid max-w-2xl grid-flow-row grid-cols-4 gap-12 gap-y-0 px-8 text-foreground sm:grid-cols-8"
  >
    <RareIcon
      class="col-span-3 col-start-1 mx-auto w-full max-w-xs sm:col-span-4"
      client:idle
    >
      <Image src={IconBrobs} class="image z-0 drop-shadow-lg" alt="Me" />
    </RareIcon>
    <section class="col-span-4 my-auto sm:col-start-5 sm:col-end-9">
      <h1 class="font-times text-5xl font-black text-foreground sm:text-6xl">
        Hi,<br />I'm Rai
      </h1>
      <p
        class="mt-4 font-mono text-lg font-medium italic text-stone-700 dark:text-stone-400"
      >
        nemui desu.
      </p>
    </section>
    <h2
      class="col-span-4 mb-6 mt-12 font-mono text-2xl font-semibold sm:col-span-8"
    >
      自己紹介
    </h2>
    <div class="col-span-4 col-start-1 sm:col-span-4">
      <p class="col-span-4 font-mono text-base sm:col-span-4">
        とあるCS専攻な大学生です。普段はWeb開発をしています。最近はWASMを使ったゲーム開発に興味があります。
      </p>
      <div
        class="mt-6 flex flex-col space-y-3 font-mono text-base sm:inline-block"
      >
        <LinkCard
          title="@r4ai"
          href="https://github.com/r4ai"
          icon={GitHub}
          alt="GitHub"
          shouldInvert
        />
        <LinkCard
          title="@r4ai.dev"
          href="https://bsky.app/profile/r4ai.dev"
          icon={Bsky}
          alt="BlueSky"
        />
        <LinkCard
          title="@t4aru"
          href="https://zenn.dev/t4aru"
          icon={Zenn}
          alt="Zenn.dev"
        />
      </div>
    </div>
    <div class="col-span-4">
      <CubeCanvas client:only="react" />
    </div>
    <h2
      class="col-span-4 mb-6 mt-16 font-mono text-2xl font-semibold sm:col-span-8"
    >
      使える技術
    </h2>
    <div class="col-span-4 font-mono text-base text-foreground sm:col-span-5">
      <p class="leading-7 [&:not(:first-child)]:mt-6">言語:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>JavaScript/TypeScript</li>
        <li>Rust</li>
        <li>Python</li>
      </ul>
      <p class="leading-7 [&:not(:first-child)]:mt-6">Webフレームワーク:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>React</li>
        <li>Next.js</li>
        <li>Svelte</li>
      </ul>
    </div>
    <h2
      class="col-span-4 mb-6 mt-12 font-mono text-2xl font-semibold sm:col-span-8"
    >
      記事・スライド
    </h2>
    <div class="col-span-4 font-mono text-base text-foreground sm:col-span-8">
      <ul class="mb-6 ml-6 list-disc [&>li]:mt-2">
        <li>
          <a
            href="https://github.com/r4ai/svelte-beginner-tutorial"
            class="hover:underline"
          >
            「Svelte入門 ～100行で作るToDoアプリ～」
          </a>
        </li>
        <li>
          <a
            href="https://zenn.dev/t4aru/articles/4a77ec07432e57"
            class="hover:underline"
          >
            「Rust での開発を便利にする VSCode 拡張機能たち」
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
