---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <main>
    <h1>Hi, I'm Rai</h1>
    <p>スーパーハカー</p>
    <p>最近は WASM に興味があります。</p>
    <div>
      <p>
        <b> ※ このサイトは現在制作中です。</b><br />
        以前のサイト：<a href="https://r4ai.github.io">r4ai.github.io</a>
      </p>
    </div>
  </main>
</Layout>

<style></style>
