---
import LinkCard from "@/components/LinkCard.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Zenn from "../assets/zenn.svg";
import Bsky from "../assets/bsky.png";
import GitHub from "../assets/github.svg";
import IconBrobs from "../assets/icon_blobs.png";
import { CubeCanvas } from "@/components/Cube";
---

<Layout title="About Me">
  <main
    class="grid grid-cols-4 sm:grid-cols-8 grid-flow-row gap-12 gap-y-0 max-w-2xl mx-auto my-12 px-8 text-foreground"
  >
    <Image
      class="col-start-1 col-span-3 sm:col-span-4 w-full max-w-xs mx-auto"
      src={IconBrobs}
      alt="Me"
    />
    <section class="col-span-4 sm:col-start-5 sm:col-end-9 my-auto">
      <h1 class="sm:text-6xl text-5xl font-black text-foreground font-serif">
        Hi,<br />I'm Rai
      </h1>
      <p
        class="mt-4 text-lg font-medium font-mono italic dark:text-stone-400 text-stone-700"
      >
        nemui desu.
      </p>
    </section>
    <h2
      class="sm:col-span-8 col-span-4 font-mono font-semibold text-2xl mb-6 mt-12"
    >
      自己紹介
    </h2>
    <div class="col-start-1 col-span-4 sm:col-span-4">
      <p class="col-span-4 sm:col-span-4 font-mono text-base">
        とあるCS専攻な大学生です。普段はWeb開発をしています。最近はWASMを使ったゲーム開発に興味があります。
      </p>
      <div
        class="font-mono text-base mt-6 space-y-3 flex flex-col sm:inline-block"
      >
        <LinkCard
          title="@r4ai"
          href="https://github.com/r4ai"
          icon={GitHub}
          alt="GitHub"
          shouldInvert
        />
        <LinkCard
          title="@r4ai.dev"
          href="https://bsky.app/profile/r4ai.dev"
          icon={Bsky}
          alt="BlueSky"
        />
        <LinkCard
          title="@t4aru"
          href="https://zenn.dev/t4aru"
          icon={Zenn}
          alt="Zenn.dev"
        />
      </div>
    </div>
    <div class="col-span-4">
      <CubeCanvas client:only="react" />
    </div>
    <h2
      class="sm:col-span-8 col-span-4 font-mono font-semibold text-2xl mt-16 mb-6"
    >
      使える技術
    </h2>
    <div class="sm:col-span-5 col-span-4 font-mono text-base text-foreground">
      <p class="leading-7 [&:not(:first-child)]:mt-6">言語:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>JavaScript/TypeScript</li>
        <li>Rust</li>
        <li>Python</li>
      </ul>
      <p class="leading-7 [&:not(:first-child)]:mt-6">Webフレームワーク:</p>
      <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
        <li>React</li>
        <li>Next.js</li>
        <li>Svelte</li>
      </ul>
    </div>
  </main>
</Layout>
