---
import { twMerge } from "tailwind-merge"
import Icon from "../Icon.astro"

export type CalloutType =
  | "note"
  | "abstract"
  | "info"
  | "todo"
  | "tip"
  | "success"
  | "question"
  | "warning"
  | "failure"
  | "danger"
  | "bug"
  | "example"
  | "quote"

interface Props {
  className?: string
  type: CalloutType
  title?: string
}
const props = Astro.props

const title =
  props.title ??
  props.type.charAt(0).toUpperCase() + props.type.slice(1).toLocaleLowerCase()

type Styles = {
  [key in CalloutType]: {
    icon: string
    container: string
    title: string
  }
}
const styles: Styles = {
  note: {
    icon: "radix-icons:pencil-1",
    container: "",
    title: "",
  },
  abstract: {
    icon: "radix-icons:reader",
    container: "border-cyan-600/20 bg-cyan-500/20 dark:border-cyan-800/20",
    title: "text-cyan-500",
  },
  info: {
    icon: "radix-icons:info",
    container: "border-blue-600/20 bg-blue-500/20 dark:border-blue-800/20",
    title: "text-blue-500",
  },
  todo: {
    icon: "radix-icons:checkbox",
    container: "border-blue-600/20 bg-blue-500/20 dark:border-blue-800/20",
    title: "text-blue-500",
  },
  tip: {
    icon: "lucide:flame",
    container: "border-cyan-600/20 bg-cyan-500/20 dark:border-cyan-800/20",
    title: "text-cyan-500",
  },
  success: {
    icon: "radix-icons:checkmark",
    container: "border-green-600/20 bg-green-500/20 dark:border-green-800/20",
    title: "text-green-500",
  },
  question: {
    icon: "lucide:help-circle",
    container:
      "border-yellow-600/20 bg-yellow-500/20 dark:border-yellow-800/20",
    title: "text-yellow-500",
  },
  warning: {
    icon: "lucide:alert-triangle",
    container:
      "border-orange-600/20 bg-orange-500/20 dark:border-orange-800/20",
    title: "text-orange-500",
  },
  failure: {
    icon: "lucide:x",
    container: "border-red-600/20 bg-red-500/20 dark:border-red-800/20",
    title: "text-[#fb464c]",
  },
  danger: {
    icon: "lucide:zap",
    container: "border-red-600/20 bg-red-500/20 dark:border-red-800/20",
    title: "text-[#fb464c]",
  },
  bug: {
    icon: "lucide:bug",
    container: "border-red-600/20 bg-red-500/20 dark:border-red-800/20",
    title: "text-[#fb464c]",
  },
  example: {
    icon: "radix-icons:list-bullet",
    container:
      "border-purple-600/20 bg-purple-500/20 dark:border-purple-800/20",
    title: "text-purple-500",
  },
  quote: {
    icon: "radix-icons:quote",
    container: "border-gray-600/20 bg-gray-600/20 dark:border-gray-800/20",
    title: "text-gray-500",
  },
}
---

<div
  class={twMerge(
    "flex flex-col my-6 rounded-lg p-4 pb-5 border gap-2",
    styles[props.type].container ?? styles.note.container,
    props.className
  )}
>
  <div
    class={twMerge(
      "flex flex-row items-center gap-2 font-sans font-bold",
      styles[props.type].title ?? styles.note.title
    )}
  >
    <Icon icon={styles[props.type].icon ?? styles.note.icon} class="h-5 w-5" />
    <div>{title}</div>
  </div>
  <slot />
</div>
