---
import { Image } from "astro:assets";

interface Props {
  href: string;
  icon: ImageMetadata;
  title: string;
  alt: string;
  shouldInvert?: boolean;
}

const { href, icon, title, alt, shouldInvert = false } = Astro.props;
---

<a {href} aria-label={title} class="inline-block">
  <div
    class="flex flex-row gap-3 rounded-md border px-3 py-3 shadow-sm transition-colors hover:bg-neutral-50 hover:underline dark:border-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-900 dark:hover:text-neutral-200"
  >
    <Image
      src={icon}
      alt={alt}
      class={`h-5 w-5 ${shouldInvert ? "invert" : ""} dark:invert-0`}
    />
    <p class={"text-sm after:content-['↗']"}>
      {alt + " " + title}
    </p>
  </div>
</a>
