---
import { SearchButton } from "./SearchButton"
---

<nav class="sticky top-4 z-50 mx-auto flex max-w-fit">
  <ul
    class="flex flex-row items-center justify-center gap-6 rounded-full border bg-stone-1/60 px-6 py-3 text-base text-card-foreground backdrop-blur-xl"
  >
    <li><a href="/">About</a></li>
    <!-- TODO: /worksを作成し、リンク先を/worksへ変更する -->
    <li><a href="/posts">Posts</a></li>
    <li><a href="/contact">Contact</a></li>
    <li class="ml-6 flex">
      <SearchButton client:load />
    </li>
  </ul>
</nav>
