---
import { BeakerIcon } from "@heroicons/react/24/outline";
---

<div class="navBar">
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/works">Works</a></li>
    <li><BeakerIcon /></li>
  </ul>
</div>

<style>
  div.navBar {
    display: flex;
    width: 15.875rem;
    padding: 0.75rem 2.3125rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  }
</style>
