<span class="tooltip relative">
  <span
    class="tooltip-content absolute left-1/2 -translate-x-1/2 whitespace-nowrap opacity-0 transition"
  >
    <slot name="content" />
  </span>
  <span class="tooltip-trigger">
    <slot name="trigger" />
  </span>
</span>

<style>
  .tooltip:hover .tooltip-content {
    opacity: 1;
    z-index: 40;
  }
</style>
