---
import { RootLayout } from "@/components/layouts"
---

<RootLayout title="Projects" image={new URL("https://example.com")}>
  <div class="container mx-auto mb-12 mt-6 grid max-w-xl gap-12">
    <h1 class="mx-auto font-times text-4.5xl font-black">Projects</h1>
    <p class="mx-auto">Work in progress...</p>
  </div>
</RootLayout>
