---
import AlgTusRicoraCom from "@/assets/imgs/projects/alg.tus-ricora.com.png"
import Mercury from "@/assets/imgs/projects/mercury.png"
import Order from "@/assets/imgs/projects/order.png"
import R4aiDev from "@/assets/imgs/projects/r4ai.dev.png"
import RemarkCallout from "@/assets/imgs/projects/remark-callout.png"
import RemarkEmbed from "@/assets/imgs/projects/remark-embed.png"
import Shuiro from "@/assets/imgs/projects/shuiro.png"
import { RootLayout } from "@/components/layouts"

import { ProjectCard } from "./_components"
---

<RootLayout title="Projects">
  <div class="container mx-auto mb-12 mt-6 grid max-w-screen-2xl gap-12">
    <h1 class="mx-auto font-times text-4.5xl font-black">Projects</h1>
    <p class="mx-auto mb-8 text-center text-lg">
      今までに作成したライブラリ、アプリケーション、ウェブサイト等の一覧です
    </p>
    <div class="grid grid-cols-6 gap-8">
      <ProjectCard
        class="col-span-6 row-span-2 lg:col-span-3"
        title="alg.tus-ricora.com"
        description="RICORA Programming Team のウェブサイト"
        year="2024-2026"
        image={{
          src: AlgTusRicoraCom,
          alt: "alg.tus-ricora.comのトップページ",
        }}
        links={[
          {
            href: "https://zenn.dev/ricora/articles/5a170c17933c3f",
            label: "紹介記事",
          },
          {
            href: "https://github.com/ricora/alg.tus-ricora.com",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-2 lg:col-span-3"
        title="Mercury"
        description="MDXからスライドを作成するライブラリ"
        year="2025-2026"
        image={{
          src: Mercury,
          alt: "Mercuryのウェブサイトのトップページ",
        }}
        links={[
          {
            href: "https://mercury.r4ai.dev/",
            label: "Webサイト",
          },
          {
            href: "https://github.com/r4ai/mercury",
            label: "GitHub",
          },
          {
            href: "https://r4ai.dev/posts/mercury-development",
            label: "紹介記事",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-2 lg:col-span-3"
        title="Order"
        description="学園祭の模擬店のための注文・在庫管理システム"
        year="2025-2026"
        image={{
          src: Order,
          alt: "Orderの商品の登録画面です。画面上部には在庫状況のサマリーが表示され、総商品数や在庫切れの商品数をひと目で把握できます。登録フォームでは商品名、画像、価格、在庫数、タグを設定できます。",
        }}
        links={[
          {
            href: "https://zenn.dev/ricora/articles/9cd4eb6bfcea13",
            label: "紹介記事",
          },
          {
            href: "https://github.com/ricora/order",
            label: "GitHub",
          },
        ]}
        theme="light"
      />
      <ProjectCard
        class="col-span-6 row-span-2 lg:col-span-3"
        title="@r4ai/remark-callout"
        description="Obsidian風のCallout記法をMarkdownに追加するRemarkプラグイン"
        year="2024-2026"
        image={{
          src: RemarkCallout,
          alt: "@r4ai/remark-calloutで作成されたサンプル",
        }}
        links={[
          {
            href: "https://github.com/r4ai/remark-callout",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-2 md:col-span-3 xl:col-span-2"
        title="@r4ai/remark-embed"
        description="リンクカードや埋め込みコンテンツをMarkdownに追加するRemarkプラグイン"
        year="2024-2025"
        image={{
          src: RemarkEmbed,
          alt: "@r4ai/remark-embedで作成されたサンプル",
        }}
        links={[
          {
            href: "https://github.com/r4ai/remark-embed",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-1 md:col-span-3 xl:col-span-2"
        title="@r4ai/rehype-graphviz"
        description="Markdown内のGraphvizで記述された図をレンダリングするプラグイン"
        year="2024-2025"
        links={[
          {
            href: "https://github.com/r4ai/rehype-graphviz",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-1 md:col-span-3 xl:col-span-2"
        title="Ao"
        description="Wasmを出力するコンパイル型プログラミング言語"
        year="2024-2025"
        links={[
          {
            href: "/posts/ao-development",
            label: "紹介スライド",
          },
          {
            href: "https://github.com/ricora/ao",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-1 md:col-span-3 xl:col-span-2"
        title="typst-code-info"
        description="Typstのコードブロックに、キャプションや行番号、Diffハイライト等の機能を追加するライブラリ"
        year="2024"
        links={[
          {
            href: "https://github.com/r4ai/typst-code-info",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-1 md:col-span-3 xl:col-span-2"
        title="ゆめみパスポート フロントエンド"
        description="ゆめみパスポートのフロントエンドコーディング試験で作成した、都道府県別の総人口推移グラフ"
        year="2024"
        links={[
          {
            href: "https://github.com/r4ai/yumemi-passport-frontend",
            label: "GitHub",
          },
        ]}
      />
      <ProjectCard
        class="col-span-6 row-span-2 lg:col-span-3"
        title="Shuiro"
        description="Wasmを利用したプログラム採点システム"
        year="2024-2025"
        image={{
          src: Shuiro,
          alt: "Shuiroの問題解答画面",
        }}
        links={[
          {
            href: "https://github.com/shuiro-dev/shuiro",
            label: "GitHub",
          },
        ]}
        theme="light"
      />
      <ProjectCard
        class="col-span-6 row-span-2 lg:col-span-3"
        title="r4ai.dev"
        description="自身のブログ兼ポートフォリオ（このサイト）"
        year="2023-2026"
        image={{
          src: R4aiDev,
          alt: "r4ai.devのトップページ",
          class: "md:px-36",
        }}
        links={[
          {
            href: "https://github.com/r4ai/r4ai.dev",
            label: "GitHub",
          },
        ]}
      />
    </div>
  </div>
</RootLayout>
